# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET artifacts
project.lock.json
project.fragment.lock.json
artifacts/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (Mono)
mono_crash.*

# Visual Studio
.vs/
*.csproj.user
*.dbmdl
*.jfm
launchSettings.json

# Windows image file caches
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config
[Dd]esktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# NuGet
*.nupkg
*.snupkg
.nuget/
nuget.exe

# Rider
.idea/
*.sln.iml

# JetBrains
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# dotnet tool
.config/dotnet-tools.json

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.TestAdapter.paths

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# StyleCop
StyleCopReport.xml

# Publish output
*.publish.xml
publish/

# NuGet v3 restore
*.nuget.props
*.nuget.targets

# dotnet
*.dotCover
